<script>
  export let type = 'primary'
  export let flat = false
  export let inverse = false
</script>

<style>
  button {
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 12px;
    font-weight: bold;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  }
  .primary {
    background: #6b0ba5;
    color: white;
  }
  .primary:hover,
  .primary.inverse:hover {
    background: #b4fb8f;
    color: black;
  }
  .secondary {
    background: #b4fb8f;
    color: white;
  }
  .secondary:hover,
  .secondary.inverse:hover {
    background: #6b0ba5;
    color: black;
  }
  .flat {
    box-shadow: none;
  }
  .primary.inverse {
    color: #6b0ba5;
    background: white;
    border: 2px solid #6b0ba5;
  }
  .secondary.inverse {
    color: #b4fb8f;
    background: white;
    border: 2px solid#b4fb8f;
  }
</style>

<button class={type} class:flat class:inverse on:click><slot /></button>
