<script>
  import { createEventDispatcher } from 'svelte'
  import PollStore from '../stores/PollStore'

  import Button from '../shared/Button.svelte'

  let dispatch = createEventDispatcher()
  let fields = { question: '', answerA: '', answerB: '' }
  let errors = { question: '', answerA: '', answerB: '' }
  let valid = false
  const submitHandler = () => {
    valid = true
    // validate question
    if (fields.question.trim().length < 5) {
      valid = false
      errors.question = 'Die Umfrage muss mindestens 5 Zeichen enthalten.'
    } else {
      errors.question = ''
    }
    // validate answer A
    if (fields.answerA.trim().length < 1) {
      valid = false
      errors.answerA = 'Antwort A darf nicht leer sein.'
    } else {
      errors.answerA = ''
    }
    // validate answer B
    if (fields.answerB.trim().length < 1) {
      valid = false
      errors.answerB = 'Antwort B darf nicht leer sein.'
    } else {
      errors.answerB = ''
    }

    // add new poll
    if (valid) {
      let poll = { ...fields, votesA: 0, votesB: 0, id: Math.random() }
      // save poll to store
      PollStore.update((currentPolls) => {
        return [poll, ...currentPolls]
      })
      dispatch('add')
    }
  }
</script>

<style>
  form {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .form-field {
    margin: 18px auto;
  }
  input {
    width: 100%;
    border-radius: 6px;
  }
  label {
    margin: 10px auto;
    text-align: left;
  }
  .error {
    font-weight: bold;
    font-size: 12px;
    color: #d91b42;
  }
</style>

<form on:submit|preventDefault={submitHandler}>
  <div class="form-field">
    <label for="question">Umfrage:</label>
    <input type="text" id="question" bind:value={fields.question} />
    <div class="error">{errors.question}</div>
  </div>
  <div class="form-field">
    <label for="answer-a">Antwort A:</label>
    <input type="text" id="anwer-a" bind:value={fields.answerA} />
    <div class="error">{errors.answerA}</div>
  </div>
  <div class="form-field">
    <label for="answer-b">Antwort B:</label>
    <input type="text" id="answer-b" bind:value={fields.answerB} />
    <div class="error">{errors.answerB}</div>
  </div>
  <Button type="secondary" flat={true} inverse={false}>
    Umfrage hinzufügen
  </Button>
</form>
