<style>
  footer {
    padding: 40px;
    text-align: center;
  }
  .copyright {
    color: #aaa;
    font-size: 14px;
    display: inline-block;
    padding: 20px;
    border-top: 1px solid #ddd;
  }
</style>

<footer>
  <div class="copyright">&copy;20 until now NOCONCEPT.design</div>
</footer>
