<script>
  import LogoCanvas from './LogoCanvas.svelte'
</script>

<style>
  header {
    background: #f8f4e3;
    padding: 20px;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
  img {
    max-width: 140px;
  }
</style>

<header>
  <h1>
    <LogoCanvas />
  </h1>
</header>
