<script>
  import { fade, slide, scale } from 'svelte/transition'
  import { flip } from 'svelte/animate'
  // import { onMount, onDestroy } from 'svelte'
  import PollStore from '../stores/PollStore.js'
  import PollDetails from './PollDetails.svelte'
  // export let polls = []

  // const unsub = PollStore.subscribe((data) => {
  //   polls = data
  // })

  // onMount(() => {
  //   // Subscribe (maybe get data from db)
  // })

  // onDestroy(() => {
  //   // Unsubscribe from store
  //   unsub();
  // })

  // Subscribe destroy shorthand with $ sign ex. $PollDetails in the loop below
</script>

<style>
  .poll-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
</style>

<div class="poll-list">
  {#each $PollStore as poll (poll.id)}
    <div in:scale out:fade|local animate:flip={{ duration: 500 }}>
      <PollDetails {poll} />
    </div>
  {/each}
</div>
