<script>
  import Header from './components/Header.svelte'
  import Footer from './components/Footer.svelte'
  import PollList from './components/PollList.svelte'
  import CreatePollForm from './components/CreatePollForm.svelte'
  import Tabs from './shared/Tabs.svelte'

  // Tabs
  let items = ['Aktuelle Umfragen', 'Neue Umfrage']
  let activeItem = 'Aktuelle Umfragen'
  const tabChange = (e) => {
    activeItem = e.detail
  }

  const handleAdd = (e) => {
    activeItem = 'Aktuelle Umfragen'
  }
</script>

<style>
  main {
    max-width: 960px;
    margin: 40px auto;
  }
</style>

<Header />
<main>
  <Tabs {activeItem} {items} on:tabChange={tabChange} />
  {#if activeItem === 'Aktuelle Umfragen'}
    <PollList />
  {:else if activeItem === 'Neue Umfrage'}
    <CreatePollForm on:add={handleAdd} />
  {/if}
</main>
<Footer />
